@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:wght@700&family=Outfit:wght@100;300;400;500;700&family=Poppins:wght@400;700&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50rem;
}

.row > button {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}

.activeColor {
  height: 3.5rem;
  width: 20%;
  border: 2px solid grey;
  cursor: pointer;
  color: green;
  
}

.pointer {
  height: 3.5rem;
  width: 20%;
  border: 2px solid grey;
  cursor: pointer;
  border: red;
}

.indicator > pre{
    font-size: 1.7rem;
    color: white;
    margin: 2rem auto;
}

form > label , input{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

form > #pswd{
    margin-left: .9rem;
}
form > input{
    padding-left: 1.3rem;
    width: 50rem;
}

form > label{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

form > #email{
    margin-left: 3.1rem;
}


@media screen and (max-width: 565px) and (min-width: 500px){
  .row > button{
    font-size: 12px;
    height: 30px;
    width: 80px;
    padding-top: 8px;
    cursor: pointer;
  }
  .indicator > pre{
    font-size: 15px;
  }
  
  form > label{
    font-size: 15px;
  }
  form > input{
    height: 22px;
    width: 240px;
    font-size: 15px;
    margin: 10px auto;
  }
}

@media screen and (max-width: 499px) and (min-width: 390px) {
  .row > button{
    font-size: 11px;
    height: 25px;
    width: 70px;
    padding-top: 6px;
    cursor: pointer;
  }
  .indicator > pre{
    font-size: 15px;
  }
  
  form > label{
    font-size: 15px;
  }
  form > input{
    height: 20px;
    width: 200px;
    font-size: 13px;
    margin: 10px auto;
  }
  .formContainer > form{
    align-items: center;
    height: 200px;
    text-align: center;
  }
  form > #btn{
    margin-top: 1rem;
  }
}